<h1>Users</h1>

<p *ngIf="!users"><em>Loading...</em></p>
<div *ngIf="currentUser">
  <app-user-detail [user]="currentUser"></app-user-detail>
  <button *ngIf="currentUser.id > 0" type="button" (click)="updateUser()" class="btn btn-primary">Update</button>
  <button *ngIf="currentUser.id == 0" type="button" (click)="addUser()" class="btn btn-primary">Create</button>
</div>

<table class='table table-striped' *ngIf="users">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birth date</th>
      <th>Driver Licence Number</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let id = index">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.birthDate }}</td>
      <td>{{ user.driverLicenseNumber }}</td>
      <td><button type="button" (click)="modify(id)" class="btn btn-primary">Edit</button></td>
      <td><button type="button" (click)="deleteUser(id)" class="btn btn-primary">Delete</button></td>
    </tr>
    <tr>
      <td colspan="6"><button (click)="clearCurrentUser()" class="btn btn-primary btn-lg">+</button></td>
    </tr>
  </tbody>
</table>
