<div *ngIf="car">
  <h2>Car Details</h2>
  <div class="form-group">
    <label>
      Manufactorer:
      <input [(ngModel)]="car.manufactorer " placeholder="manufactorer" class="form-control"/>
    </label>
  </div>
  <div class="form-group">
    <label>
      Model:
      <input [(ngModel)]="car.model" placeholder="model" class="form-control"/>
    </label>
  </div>
  <div class="form-group">
    <label>
      Class:
      <input [(ngModel)]="car.class" placeholder="class" class="form-control"/>
    </label>
  </div>
  <div class="form-group">
    <label>
      Year:
      <input [(ngModel)]="car.manufactoryYear" placeholder="year" class="form-control" required min="1900" max="2100"/>
    </label>
  </div>
  <div class="form-group">
    <label>
      Registration number:
      <input [(ngModel)]="car.registrationNumber" placeholder="registration number" class="form-control"/>
    </label>
  </div>

</div>
